body{
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin: 0;
}

.tanker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container {
    background-color: rgb(124, 42, 161);
    border: solid rgb(80, 27, 80) 3px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 450px;
    height: 280px ;
}
  
label {
    
    margin-top: 10px;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
  
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {

    .tanker {
        top: 30%;
    }

    .login-container {
        width: 90%;
        max-width: 90%; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .tanker {
        top: 40%;
    }
}